body{
    background-color: #F5F5F5;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 13px;
    margin: 0;
}
a{
    text-decoration: none;
}
/* .fix{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */
.center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper{
    background-color: #fefefe;
    /* text-align: center; */
    border: solid 1px #C6C6C6;
    padding: 40px 60px 55px 60px;
}
#logo {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
#logo a{
    color: #4C51CC;
}
label{
    display: inline-block;
    color: #323232;
}
input{
    display: block;
    border: 1px solid #C6C6C6;
}
form > label{
    font-weight: 600;
    margin: 7px 0px;
}
form > input{
    width: 310px;
    height: 36px;
    padding: 2px 10px;
    color: #676767;
}
input[type=submit]{
    height: 46px;
    box-sizing: content-box;
    background-color: #4C51CC;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}
input:not(:last-of-type):focus{
    outline: 1px solid #4C51CC;
}
.terms{
    margin-top: 15px;
}
.terms input{
    display: inline-block;
    vertical-align: middle;
}
.terms span{
    color: #4C51CC;
}
.login{
    text-align: right;
}
.login a{
    color: #595959;
    font-size: 12px;
    font-weight: 200;
}
.err {
    display: none;
    font-size: 12px;
    margin: 0;
    color: red;
    margin-top: 2px;
}
.space-5{
    height: 5px;
}